<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <title>BMI Calculator</title>
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="/">BMI Health Tracker</a>
  <a class="navbar-brand" href="/history">History</a>
</nav>


<div class="container mt-4">
  <div id="history-container"></div>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="text-center">
    <span>Marshiitov Zholaman - SE-2205</span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/js/validation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
