body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
    color: white;
}

.navbar-brand {
    color: white !important;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 580px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #007bff;
    padding: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.card {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.card-title {
    font-size: 24px;
    margin: 0;
}

.card-body {
    padding: 20px;
}

.card-text {
    font-size: 18px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}